* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FFC107;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15vh auto 15vh;
  grid-gap: 3px;
  height: 100%;
  grid-template-areas:
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "m f f f f f f f f f f f"
}

div {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.header {
  background-color: #00BCD4;
  grid-area: h;
}

.menu {
  background-color: #F44336;
  grid-area: m;
}

.content {
  background-color: aqua;
  grid-area: c;
}

.footer {
  background: #FFEB3B;
  grid-area: f;
}