* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FFC107;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100px 100px;
  grid-gap: 5px;
}

div {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

div:nth-child(even) {
  background-color: #00BCD4;
}

div:nth-child(odd) {
  //background-color: #F44336;
}