* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FFC107;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15vh 69vh 15vh;
  grid-gap: 3px;
}

div {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.header {
  background-color: #00BCD4;
  grid-column-start: 2;
  grid-column-end: -1;
}

.menu {
  background-color: #F44336;
  grid-row: 1/-1;
}

.content {
  background-color: aqua;
  grid-column: 2/-1;
}

.footer {
  background: #FFEB3B;
  grid-column: 2/-1;
}